<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shoppingmall.mapper.MallMapper">

    <!-- 도서 목록 -->
    <select id="getBooksList" resultType="com.example.shoppingmall.model.Book">
        SELECT *
        FROM books;
    </select>

    <!-- 도서 목록 + 페이징 -->
    <select id="getPageBookList" resultType="com.example.shoppingmall.model.Book">
        SELECT *
        FROM books;
    </select>


    <!-- 도서 상세 -->
    <select id="detailBook" resultType="com.example.shoppingmall.model.Book">
        SELECT *
        FROM books
        WHERE bookid = #{bookid};
    </select>

    <!-- 로그인 -->
    <select id="logIn"  resultType="com.example.shoppingmall.dto.response.LoginResponseDto">
        SELECT *
        FROM customers
        WHERE custid=#{custid} AND custpwd=#{custpwd};
    </select>

    <!-- 회원가입 -->
    <insert id="insertCustInfo" parameterType="com.example.shoppingmall.dto.CustomersDto">
        INSERT INTO customers(custname, custid, custpwd, address) VALUES (#{custname}, #{custid}, #{custpwd}, #{address});
    </insert>

    <!-- 아이디 중복 검사 -->
    <select id="custIdCheck" parameterType="com.example.shoppingmall.dto.CustomersDto" resultType="int">
        SELECT count(*)
        FROM customers
        where custid = #{custid};
    </select>
</mapper>